@import "../../../../stylesheets/const.scss";

.item {
    padding: 8px 16px;

    margin: 10px 0;

    &:first-child, &:last-child {
        margin: 0;
    }
}

.label {
    color: $color-grey-40;
}