@import "../../../../stylesheets/_const.scss";

.item {
    display: flex;
    justify-content: space-between;
}

.header {
    margin: 18px 0 10px;
}

.text {
    color: $color-grey-30;
    width: 476px;
}

.img {
    display: block;
    width: 80px;
    height: 80px;
    margin-right: 24px;
}