.header {
    padding: 24px 0;
    position: relative;
    z-index: 2;
}

.left_side, .right_side {
    display: flex;
    align-items: center;
}

.right_side {
    width: 300px;
    justify-content: space-between;
}

.logo {
    margin-right: 60px;
}
